

body{
    /* background: rgb(179, 179, 179); */
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}

.beginner {

    height: 90vh;
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr auto;
}

   


