
*{
    font-family: serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;

}

[class ^= "box-"]{
    display: grid;
    place-items: center;
    padding: 10px;
    border: solid 5px orangered;
    border-radius: 20px;
    box-shadow: 00 5px greenyellow;
}

body{
    /* background: rgb(179, 179, 179); */
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}

.beginner {

    height: 90vh;
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr auto;
}

   


